.DS_Store
DataScience/task_05(CREDIT_CARD_FRAUD_DETECTION)/creditcard.csv
MachineLearning/task_01(MOVIE_GENRE_CLASSIFICATION)/Genre Classification Dataset
MachineLearning/task_02(CREDITCARD_FRAUD_DETECTION)/archive/fraudTest.csv
MachineLearning/task_02(CREDITCARD_FRAUD_DETECTION)/archive/fraudTrain.csv
